<button class="p-gameUI__close-btn">Выйти</button>

<div class="deck">
  <div class="deck__row-titles">
    <%  [8,7,6,5,4,3,2,1].forEach( (elem) => { %>
    <div class="deck__row-title"><%= elem %></div>
    <% }) %>
  </div>
  <div class="deck__col-titles">
    <%  ['A','B','C','D','E','F','G','H'].forEach( (elem) => { %>
    <div class="deck__col-title"><%= elem %></div>
    <% }) %>
  </div>
  <div class="deck__pieces"></div>
</div>