<div class="login">
  <div class="login__block">
    <div class="login__row">
      <div class="login__input-block">
        <div class="login__input-label">IP адрес сервера</div>
        <input type="text" class="login__input login__server" value="<%= server %>">
      </div>
      <div class="login__input-block">
        <div class="login__input-label">Порт</div>
        <input type="number" class="login__input login__port" value="<%= port %>">
      </div>
    </div>
    <button class="login__action-btn btn">Подключиться</button>
  </div>
</div>