<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>1337_CH3SS</title>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="main-content"></div>
    

  <!-- templates -->
  <script type="text/template" id="login-template">
    <div class="login">
      <div class="login__block">
        <div class="login__row">
          <div class="login__input-block">
            <div class="login__input-label">IP адрес сервера</div>
            <input type="text" class="login__input login__server" value="<%= server %>">
          </div>
          <div class="login__input-block">
            <div class="login__input-label">Порт</div>
            <input type="number" class="login__input login__port" value="<%= port %>">
          </div>
        </div>
        <button class="login__action-btn btn">Подключиться</button>
      </div>
    </div>
  </script>

  <script type="text/template" id="main-menu-template">
    <div class="main-menu__header">
      <button class="main-menu__find-game-btn">Поиск игры</button>
    </div>
    <div class="main-menu__rooms"></div>
    <div class="main-menu__modal"></div>
  </script>

  <script type="text/template" id="main-menu__modal-template">
    <div class="overlay">
      <div class="main-menu__modal-block">
        Поиск противника...
        <div class="main-menu__modal-time">00:00</div>
        <button class="btn main-menu__modal-cancel-btn">Отмена</button>
      </div>
    </div>
  </script>

  <script type="text/template" id="rooms-list-template">
    <table>
      <thead>
        <tr>
          <td>ID игры</td>
          <td>Кол-во людей</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
      <%  rooms.forEach( (room) => { %>
        <tr>
          <td><%= room.attributes.roomID %></td>
          <td><%= room.attributes.length %></td>
          <td>
            <button class="btn rooms-list__join-btn" data-game-id="<%= room.attributes.roomID %>">
              Смотреть
            </button>
          </td>
        </tr>
      <% }) %>
      <% if(rooms.length == 0) { %>
          <tr><td colspan=3>Активных игр нет</td></tr>
        <% } %>
      </tbody>
    </table>
  </script>

  <script type="text/template" id="deck-template">
    <button class="deck__close-btn">Выйти</button>
    <div class="deck__row-titles">
    <%  [8,7,6,5,4,3,2,1].forEach( (elem) => { %>
      <div class="deck__row-title"><%= elem %></div>
    <% }) %>
    </div>
    <div class="deck__col-titles">
    <%  ['A','B','C','D','E','F','G','H'].forEach( (elem) => { %>
      <div class="deck__col-title"><%= elem %></div>
    <% }) %>
    </div>
    <div class="deck__pieces"></div>
  </script>

  <script type="text/template" id="piece-template">
    <img class="icon-piece" src="img/<%= type %>-<%= color %>.svg">
  </script>

  <script type="text/template" id="pawn-promotion-modal-template">
    <b>Выберите фигуру:</b>
    <div>
    <%  pieces.forEach( (piece) => { %>
      <div class="pawn-promotion-modal__piece" data-type='<%= piece %>'>
        <img class="icon-piece" src="img/<%= piece %>-<%= color %>.svg">
      </div>
    <% }) %>
    </div>
  </script>

  <script type="text/template" id="game-end-modal-template">
    <div><b>Игра окончена</b></div>
    <div>Причина: <%= response.msg %></div>
    <div>Победитель: <%= response.winnerColor %></div>
    <button class="game-end-modal__close-btn">Вернуться в меню</button>
  </script>


  <script type="text/tempalte" id="logMsgTemplate--taking">
    <div>
      <span class="log__piece--<%= attacker.color %>">
        <%= attacker.type %>(<%= NtoS(attacker.x) %><%= attacker.y + 1 %>)
      </span>
      take
      <span class="log__piece--<%= target.color %>">
        <%= target.type %>(<%= NtoS(target.x) %><%= target.y + 1 %>)
      </span>
    </div>
  </script>

  <script type="text/tempalte" id="logMsgTemplate--move">
    <div>
      <span class="log__piece--<%= piece.color %>">
        <%= piece.type %>(<%= NtoS(oldCoords.x) %><%= oldCoords.y + 1 %>)
      </span>
      move to <b>(<%= NtoS(piece.x) %><%= piece.y + 1 %>)</b>
    </div>
  </script>

  <script type="text/tempalte" id="logMsgTemplate--checkOrMate">
    <div>
      <b style="text-transform: uppercase"><%= type %></b> to
      <span class="log__piece--<%= color %>">
        <%= color %>
      </span>
      !!!
    </div>
  </script>


  <script src="js/bundle.js"></script>
</body>
</html>
